html {
    background-color: black;
}


#menuBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #073883;
}

#menuBar li {
    float: left;
}
      
#menuBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menuBar li a:hover:not(.active) {
    background-color: #0b60ba;
  }

.active {
    background-color: #96b7d6;
  }


footer {
    background-color: rgb(85, 85, 85);
    color: white;
    position: absolute; 
    bottom: 0;
    width: 100%;
}

p.info {
    text-align: center;
}